<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access</title>
    <link
            rel="icon"
            href="/static/MCCWRS_Thumb.png"
            type="image/png"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!--    /* Page Title Block */-->
<div class="home_page_title">
    <img src="/static/phoenix.jpg" alt="Phoenix" style="width:100%;">
    <div class="home_page_header">Maine Correctional Center Women Resident Services</div>
    <form method="POST" action='{{ url_for("login") }}'>
        <!-- Button trigger modal -->
    <button type="button" class="btn1" data-toggle="modal" data-target="#exampleModal">Log In</button>
        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    {% if session %}
                    <p> You are already logged in!</p>
                    {% else %}
                    <form method="POST" action='{{ url_for("login") }}'>
                        <p>Enter Username:</p>
                        <p><label>
                            <input type="text" input-type="submit" name="username"/>
                        </label></p>
                        <p>Enter Password:</p>
                        <p><label>
                            <input type="password" name="password"/>
                        </label></p>

                        {% if message %}
                        <p style='color:red'>{{ message }}</p>
                        {% endif %}

                    </form>
                    {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" value="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>