<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Testing</title>
	    <link
	      rel="icon" href="../static/MCCWRS_Thumb.png" type="image/png"/>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
	          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	   
	</head>

	<body>
    <!-- Custom css that makes this example work like it does: -->
    <style type="text/css">
    .scrollspy-example-2 {
      position: relative;
      height: 350px;
      overflow: auto;
    }</style>

		<div class="container">
			<div class="row">
				<div class="col-4 ">
          <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
            <a class="navbar-brand" href="#">Navbar</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#item-1">Item 1</a>

              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
              </nav>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#item-2">Item 2</a>
                <a class="nav-link" href="#item-3">Item 3</a>
              </nav>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
              </nav>
            </nav>
          </nav>
        </div>

				<div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
            <h4 id="item-1">Item 1</h4>
            <p>...<br><br><br><br></p>
            <h5 id="item-1-1">Item 1-1</h5>
            <p>...<br><br><br><br></p>
            <h5 id="item-1-2">Item 1-2</h5>
            <p>...<br><br><br><br></p>
            <h4 id="item-2">Item 2</h4>
            <p>...<br><br><br><br></p>
            <h4 id="item-3">Item 3</h4>
            <p>...<br><br><br><br></p>
            <h5 id="item-3-1">Item 3-1</h5>
            <p>...<br><br><br><br></p>
            <h5 id="item-3-2">Item 3-2</h5>
            <p>...<br><br><br><br></p>
          </div>
        </div>
      </div>
    </div>
	</body>
</html>